/* src/assets/styles.css */

@import './base.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

body {
  @apply bg-white text-gray-900;
  font-family: 'DMSans';
}

.dark body {
  @apply bg-gray-900 text-white;
}

.dark .bg-white {
  @apply bg-gray-800;
}

body.menu-open main,
body.menu-open section,
body.menu-open footer {
  filter: blur(2px);
  pointer-events: none; /* Evita cliques no conteúdo de trás */
  user-select: none;
  transition: filter 0.3s ease;
}